#documents {
  scroll-margin-block-start: 2rem;
}

.accordion {
  width: 1000px;
  margin: 0 auto;
}

.documents > h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #125c86;
  font-size: 2.5rem;
  align-self: center;
  margin-bottom: 2rem;
  text-align: center;
}

.accordion-title {
  background-color: #75c6ef;
  padding: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #125c86;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  margin: 0.5rem 0;
  transition: max-height 0.3s ease-in-out;
}

.accordion-item.active .accordion-content {
  max-height: 1000px;
}

.accordion-item.active .accordion-content {
  display: block;
  opacity: 1;
}

.document-cards {
  display: flex;
  gap: 0.5rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.document-card {
  flex: 1;
  border: #75c6ef 1px solid;
  border-radius: 1rem;
  padding: 0.5rem;
}

.document-card h3 {
  font-size: 1.15rem;
  font-weight: 500;
  color: #125c86;
  margin-bottom: 0.8rem;
}

.document-card > div {
  padding: 1rem;
}

.document-card > div > a {
  padding: 0.8rem;
  border-radius: 1rem;
  font-weight: 600;
  border: #75c6ef 1px solid;
}

.document-card > div > a:hover {
  background-color: #75c6ef80;
  transition: all 0.5s ease-in-out;
  scale: 1.1;
  cursor: pointer;
}

.document-card > div > a > i {
  margin-right: 0.5rem;
}

@media (max-width: 1400px) {
  .accordion {
    width: 80%;
    margin: 0 auto;
  }

  .accordion-title {
    padding: 1rem;
    font-size: 1rem;
  }

  .accordion-item.active .accordion-content {
    max-height: 1000px;
  }

  .accordion-item.active .accordion-content {
    display: block;
    opacity: 1;
  }

  .document-cards {
    display: flex;
    gap: 0.5rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
  }

  .document-card {
    flex: 1;
    border: #75c6ef 1px solid;
    border-radius: 1rem;
    padding: 0.5rem;
  }

  .document-card h3 {
    font-size: 1.15rem;
    font-weight: 500;
    color: #125c86;
    margin-bottom: 0.8rem;
  }

  .document-card > div {
    padding: 1rem;
  }

  .document-card > div > a {
    padding: 0.8rem;
    border-radius: 1rem;
    font-weight: 600;
    border: #75c6ef 1px solid;
  }

  .document-card > div > a:hover {
    background-color: #75c6ef80;
    transition: all 0.5s ease-in-out;
    scale: 1.1;
    cursor: pointer;
  }

  .document-card > div > a > i {
    margin-right: 0.5rem;
  }

  #documents {
    scroll-margin-block-start: 0rem;
  }

  .accordion {
    /* margin-bottom: 32rem; */
  }
}

@media (max-width: 1285px) {
  #documents {
    scroll-margin-block-start: 0rem;
  }

  .accordion {
    width: 80%;
    /* margin-bottom: 20rem; */
  }

  .document-card > div > a > i {
    margin-right: 0.2rem;
  }

  .document-card h3 {
    font-size: 1rem;
  }

  .documents > h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  #documents {
    scroll-margin-block-start: 0rem;
  }

  .accordion {
    width: 80%;
    /* margin-bottom: 20rem; */
  }

  .documents > h1 {
    font-size: 1.8rem;
  }

  .document-card > div {
    padding: 0.3rem;
  }

  .document-card > div > a {
    padding: 0.3rem;
  }
}

@media (max-width: 768px) {
  #documents {
    scroll-margin-block-start: 0rem;
  }

  .accordion {
    width: 80%;
    /* margin-bottom: 20rem; */
  }

  .documents > h1 {
    font-size: 1.8rem;
  }

  .document-card > div {
    padding: 0.4rem;
  }

  .document-card > div > a {
    padding: 0.3rem;
  }
}

@media (max-width: 445px) {
  #documents {
    scroll-margin-block-start: 0rem;
  }

  .accordion-title {
    padding: 0.8rem;
    font-size: 1rem;
  }

  .document-cards {
    flex-wrap: wrap;
  }

  .document-card {
    padding: 0.8rem 0;
  }

  .document-card > div {
    padding: 0.3rem;
  }

  .document-card > div > a {
    padding: 0.3rem;
  }

  .accordion {
    width: 300px;
  }
}

@media (max-width: 380px) {
  #documents {
    scroll-margin-block-start: 0rem;
  }
}
