:root {
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  --marquee-elements: 9;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 1s);
}

#tools > h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #125c86;
  font-size: 2.5rem;
  align-self: center;
  margin-bottom: 3rem;
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
}
.marquee:after {
  right: 0;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
  animation-iteration-count: infinite;
  gap: 1rem;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4);
  white-space: nowrap;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(18, 92, 134, 0.15) 0px 30px 30px 0px;
  padding: 1.25rem;
  max-width: 230px;
  aspect-ratio: 1/1;
}

.marquee-content li img {
  width: 70%;
  object-fit: contain;
}

@media (max-width: 1600px) {
  #tools > h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  #tools > h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 80vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}
